In [8]:
import pandas as pd
import numpy as np

saldos = pd.read_csv('Saldos_Atms_Sucursales.csv',delimiter='|')


saldoTotal = (saldos['CAS_1']*saldos['PIEZAS_CAS_1']) + (saldos['CAS_2']*saldos['PIEZAS_CAS_2']) + (saldos['CAS_3']*saldos['PIEZAS_CAS_3']) + (saldos['CAS_4']*saldos['PIEZAS_CAS_4'])
saldos['saldoTotal'] = saldoTotal

# Depuracion de Dataframe
saldoTotalD = saldoTotal.dropna()

saldosEntregable = pd.Series(saldoTotalD)
#saldos.to_csv('df_Saldos.csv')
#saldosEntregable.to_csv('Saldos_Entregable.csv')
#print(cerrados['DIVISION'])

In [2]:
print(saldoTotalD)

0       1195000.0
1        440000.0
2        961780.0
3        825680.0
4       1143000.0
          ...
9557    1668600.0
9558    1625200.0
9559     579400.0
9560     534220.0
9561     488020.0
Length: 9562, dtype: float64

In [9]:
caDiv = saldos.filter(['ATM','DIVISION']).dropna()

saldoTotalClean = saldoTotal.dropna()

In [10]:
print(caDiv)

       ATM     DIVISION
0     A023  METRO NORTE
1     A024  METRO NORTE
2     D015  METRO NORTE
3     D016  METRO NORTE
4     0181    METRO SUR
...    ...          ...
9557  1111    OCCIDENTE
9558  1135    OCCIDENTE
9559  1881    OCCIDENTE
9560  4897    OCCIDENTE
9561  4916    OCCIDENTE

[9562 rows x 2 columns]