In [5]:
import pandas as pd
saldos = pd.read_csv('Saldos_Atms_Sucursales.csv',delimiter='|')
buc = pd.read_csv('BUC.csv',delimiter='|')
fallas = pd.read_csv('Fallas_cajeros.csv',delimiter='|')
cerrados = pd.read_csv('Sucursales_cerradas_COVID19.csv',delimiter='|')
#saldos.to_csv('df_Saldos.csv')
print(cerrados)

       CR                                 Sucursal             Divisiï¿½n  \
0       7                          D.F. CHURUBUSCO    METROPOLITANA SUR
1       8                              D.F. MERCED    METROPOLITANA SUR
2       9                               LAS TORRES  METROPOLITANA NORTE
3      11                                 TLANEMEX  METROPOLITANA NORTE
4      14                              D.F. ERMITA    METROPOLITANA SUR
..    ...                                      ...                  ...
883  6603                      TIJUANA UNIVERSIDAD             NOROESTE
884  6614  CD. JUAREZ MODULO ADUANA PUENTE CORDOVA             NOROESTE
885  6758                    URUAPAN BENITO JUAREZ   REGIONAL OCCIDENTE
886  6812           CABO SAN LUCAS OFNA. PRINCIPAL    REGIONAL NOROESTE
887  6865                           CHIHUAHUA 2000             NOROESTE

                    Zona
0          BENITO JUAREZ
1                 CENTRO
2                VALLEJO
3               SATELITE
4             IZTAPALAPA
..                   ...
883        TIJUANA PLAZA
884               JUAREZ
885              URUAPAN
886  BAJA CALIFORNIA SUR
887      CHIHUAHUA PLAZA

[888 rows x 4 columns]

In [2]:
print(saldos)

       CR   ATM             SUCURSAL      DIVISION             ZONA  CAS_1  \
0     4.0  A023  NAUCALPAN PERIFERICO  METRO NORTE     INTERLOMAS 2  100.0
1     4.0  A024  NAUCALPAN PERIFERICO  METRO NORTE     INTERLOMAS 2  100.0
2     4.0  D015  NAUCALPAN PERIFERICO  METRO NORTE     INTERLOMAS 2   20.0
3     4.0  D016  NAUCALPAN PERIFERICO  METRO NORTE     INTERLOMAS 2   20.0
4     7.0  0181       D.F. CHURUBUSCO    METRO SUR  BENITO JUAREZ 1  100.0
...   ...   ...                   ...          ...              ...    ...
9757  NaN   NaN                   NaN          NaN              NaN    NaN
9758  NaN   NaN                   NaN          NaN              NaN    NaN
9759  NaN   NaN                   NaN          NaN              NaN    NaN
9760  NaN   NaN                   NaN          NaN              NaN    NaN
9761  NaN   NaN                   NaN          NaN              NaN    NaN

      CAS_2  CAS_3  CAS_4  PIEZAS_CAS_1  PIEZAS_CAS_2  PIEZAS_CAS_3  \
0     200.0  200.0  500.0         645.0         333.0         607.0
1     200.0  200.0  500.0          12.0         515.0         749.0
2     100.0  200.0  500.0         459.0         992.0        1282.0
3     100.0  200.0  500.0         539.0         431.0         734.0
4     200.0  500.0  500.0        1717.0        1794.0         721.0
...     ...    ...    ...           ...           ...           ...
9757    NaN    NaN    NaN           NaN           NaN           NaN
9758    NaN    NaN    NaN           NaN           NaN           NaN
9759    NaN    NaN    NaN           NaN           NaN           NaN
9760    NaN    NaN    NaN           NaN           NaN           NaN
9761    NaN    NaN    NaN           NaN           NaN           NaN

      PIEZAS_CAS_4    MINIMO
0           1885.0  450000.0
1            372.0  450000.0
2           1194.0  516000.0
3           1250.0  510000.0
4            504.0  585000.0
...            ...       ...
9757           NaN       NaN
9758           NaN       NaN
9759           NaN       NaN
9760           NaN       NaN
9761           NaN       NaN

[9762 rows x 14 columns]

In [3]:
print(buc)

             SK   ATM   Marca       Modelo Tipo_dispositivo Tipo_monitor  \
0         23536  0002  STRONG  LEVIOSA 522      EFECTIBANCO      BOTONES
1         40655  0004  STRONG  LEVIOSA 522      EFECTIBANCO      BOTONES
2         50302  0005  STRONG  LEVIOSA 522      EFECTIBANCO      BOTONES
3         66062  0006  STRONG  LEVIOSA 522      EFECTIBANCO      BOTONES
4         70302  0007  STRONG  LEVIOSA 522      EFECTIBANCO      BOTONES
...         ...   ...     ...          ...              ...          ...
14802  L3555765  L355    DUTY  NINBUS 2000         ALLINONE       TACTIL
14803  L3565765  L356    DUTY  NINBUS 2000         ALLINONE       TACTIL
14804  L3575765  L357    DUTY  NINBUS 2000         ALLINONE       TACTIL
14805  L3585765  L358    DUTY  NINBUS 2000         ALLINONE       TACTIL
14806  L3615809  L361    DUTY  NINBUS 2000         ALLINONE       TACTIL

      Estatus_dispositivo Sistema_Operativo Denominacion_caseteros  \
0                  ACTIVO        WINDOWS 10        100 200 200 500
1                BAJA DEF        WINDOWS 10        100 200 500 500
2                  ACTIVO        WINDOWS 10        100 200 500 500
3                  ACTIVO        WINDOWS 10        100 200 500 500
4                  ACTIVO        WINDOWS 10        100 200 500 500
...                   ...               ...                    ...
14802            BAJA DEF              UNIX                    NaN
14803            BAJA DEF              UNIX                    NaN
14804            BAJA DEF              UNIX                    NaN
14805            BAJA DEF              UNIX                    NaN
14806            BAJA DEF              UNIX                    NaN

         Biometrico                    Geolocaliza
0      NO INSTALADO         19.388584  -99.2479053
1         INSTALADO  29.0880920999999  -110.957578
2         INSTALADO  20.5203228  -100.823190399999
3      NO INSTALADO  21.3413519  -97.6819429999999
4         INSTALADO  20.5203228  -100.823190399999
...             ...                            ...
14802           NaN                         NA  NA
14803           NaN                         NA  NA
14804           NaN                         NA  NA
14805           NaN                         NA  NA
14806           NaN                         NA  NA

[14807 rows x 11 columns]

In [4]:
print(fallas)

      ATM                FALLA                               CAUSA  \
0    0010         Contingencia       Sin atencion por contingencia
1    0012         Contingencia       Sin atencion por contingencia
2    0013         Contingencia       Sin atencion por contingencia
3    0038         Contingencia       Sin atencion por contingencia
4    0040         Contingencia       Sin atencion por contingencia
..    ...                  ...                                 ...
314  E634  Fallas Otras causas  Error en aceptador de billetes 216
315  E684         Contingencia       Sin atencion por contingencia
316  E687         Contingencia       Sin atencion por contingencia
317  E814         Contingencia       Sin atencion por contingencia
318  E835  Fallas Otras causas               Falla en el cash slot

    FECHA_INICIO HORA_INICIO  FRACCION_HRS_F  HRS_FUERA  FAULTID  \
0     2020-03-31    14:00:00           0.833        197     2364
1     2020-04-02    03:05:01           0.750        160     2364
2     2020-04-08    18:58:59           0.866          1     2364
3     2020-03-23    10:18:06           0.533        393     2364
4     2020-03-21    18:11:02           0.649        433     2364
..           ...         ...             ...        ...      ...
314   2020-04-08    15:28:32           0.366          5      216
315   2020-04-08    19:55:47           0.916          0     2364
316   2020-04-08    18:39:01           0.183          2     2364
317   2020-04-08    17:00:00           0.833          3     2364
318   2020-04-08    18:34:00           0.266          2        8

                   VENTANA
0             Contingencia
1             Contingencia
2             Contingencia
3             Contingencia
4             Contingencia
..                     ...
314  Mantenimiento Tecnico
315           Contingencia
316           Contingencia
317           Contingencia
318    Recuperacion Manual

[319 rows x 9 columns]